@font-face {
  font-family: "MerriweatherSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot");
  src: url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.woff") format("woff"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MerriweatherSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-Book/MerriweatherSans-Book.eot");
  src: url("../fonts/MerriweatherSans-Book/MerriweatherSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Book/MerriweatherSans-Book.woff") format("woff"), url("../fonts/MerriweatherSans-Book/MerriweatherSans-Book.ttf") format("truetype");
}
@font-face {
  font-family: "MerriweatherSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-Bold/MerriweatherSans-Bold.eot");
  src: url("../fonts/MerriweatherSans-Bold/MerriweatherSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Bold/MerriweatherSans-Bold.woff") format("woff"), url("../fonts/MerriweatherSans-Bold/MerriweatherSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MerriweatherSans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-ExtraBold/MerriweatherSans-ExtraBold.eot");
  src: url("../fonts/MerriweatherSans-ExtraBold/MerriweatherSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-ExtraBold/MerriweatherSans-ExtraBold.woff") format("woff"), url("../fonts/MerriweatherSans-ExtraBold/MerriweatherSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "MerriweatherSans";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/MerriweatherSans-BookItalic/MerriweatherSans-BookItalic.eot");
  src: url("../fonts/MerriweatherSans-BookItalic/MerriweatherSans-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-BookItalic/MerriweatherSans-BookItalic.woff") format("woff"), url("../fonts/MerriweatherSans-BookItalic/MerriweatherSans-BookItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MerriweatherSans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/MerriweatherSans-BoldItalic/MerriweatherSans-BoldItalic.eot");
  src: url("../fonts/MerriweatherSans-BoldItalic/MerriweatherSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-BoldItalic/MerriweatherSans-BoldItalic.woff") format("woff"), url("../fonts/MerriweatherSans-BoldItalic/MerriweatherSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OmoType";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OmoTypeWebfont/OmoType-LightStdOne.eot");
  src: url("../fonts/OmoTypeWebfont/OmoType-LightStdOne.eot?#iefix") format("embedded-opentype"), url("../fonts/OmoTypeWebfont/OmoType-LightStdOne.woff") format("woff"), url("../fonts/OmoTypeWebfont/OmoType-LightStdOne.ttf") format("truetype");
}
@font-face {
  font-family: "OmoType";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OmoTypeWebfont/OmoType-RegularStdOne.eot");
  src: url("../fonts/OmoTypeWebfont/OmoType-RegularStdOne.eot?#iefix") format("embedded-opentype"), url("../fonts/OmoTypeWebfont/OmoType-RegularStdOne.woff") format("woff"), url("../fonts/OmoTypeWebfont/OmoType-RegularStdOne.ttf") format("truetype");
}
@font-face {
  font-family: "OmoType";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/OmoTypeWebfont/OmoType-MediumStdOne.eot");
  src: url("../fonts/OmoTypeWebfont/OmoType-MediumStdOne.eot?#iefix") format("embedded-opentype"), url("../fonts/OmoTypeWebfont/OmoType-MediumStdOne.woff") format("woff"), url("../fonts/OmoTypeWebfont/OmoType-MediumStdOne.ttf") format("truetype");
}
@font-face {
  font-family: "OmoType";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OmoTypeWebfont/OmoType-BoldStdOne.eot");
  src: url("../fonts/OmoTypeWebfont/OmoType-BoldStdOne.eot?#iefix") format("embedded-opentype"), url("../fonts/OmoTypeWebfont/OmoType-BoldStdOne.woff") format("woff"), url("../fonts/OmoTypeWebfont/OmoType-BoldStdOne.ttf") format("truetype");
}
@font-face {
  font-family: "OmoType";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/OmoTypeWebfont/OmoType-BlackStdOne.eot");
  src: url("../fonts/OmoTypeWebfont/OmoType-BlackStdOne.eot?#iefix") format("embedded-opentype"), url("../fonts/OmoTypeWebfont/OmoType-BlackStdOne.woff") format("woff"), url("../fonts/OmoTypeWebfont/OmoType-BlackStdOne.ttf") format("truetype");
}